<div class="banner-bg banner-sec">
    <div class="container">
        <div class="header">
            <div class="logo">
                LOGO MPCLEAN
            </div>
            <div class="top-nav">
                <ul class="nav">
                    <li class="dropdown1">
                        <a href="{{ path('mp_clean_index') }}">Accueil</a>
                    </li>
                    <li class="dropdown1">
                        <a href="#">Produits</a>
                        <ul class="dropdown2">
                            <li><a href="#">Produit 1</a></li>
                            <li><a href="#">Produit 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown1">
                        <a href="#">Prestation</a>
                        <ul class="dropdown2">
                            <li><a href="#">Prestation 1</a></li>
                            <li><a href="#">Prestation 2</a></li>
                            <li><a href="#">Prestation 3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown1">
                        <a href="#">Mon compte</a>
                        <ul class="dropdown2">
                            <li><a href="#">Se connecter</a></li>
                            <li><a href="#">S'inscrire</a></li>
                        </ul>
                    </li>
                    <li class="dropdown1">
                        <a href="#">Qui sommes-nous ?</a>
                        <ul class="dropdown2">
                            <li><a href="#">Personnel</a></li>
                            <li><a href="{{ path('mp_clean_contact') }}">Nous contacter</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>