{%  extends 'MPCleanCoreBundle:Main:layout.html.twig' %}

{% block menu %}
    {% include 'menu_sec.html.twig' %}
{% endblock %}

{% block content %}
    <div class="contact">
        <div class="container">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}