{%  extends '::base.html.twig' %}

{% block menu %}
    <div class="banner-bg banner-bg2">
        <div class="container">
            <div class="header">
                <div class="logo">
                    LOGO MPCLEAN
                </div>
                <div class="top-nav">
                    <ul class="nav">
                        <li class="dropdown1">
                            <a href="#">Produits</a>
                            <ul class="dropdown2">
                                <li><a href="#">Produit 1</a></li>
                                <li><a href="#">Produit 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown1">
                            <a href="#">Prestation</a>
                            <ul class="dropdown2">
                                <li><a href="#">Prestation 1</a></li>
                                <li><a href="#">Prestation 2</a></li>
                                <li><a href="#">Prestation 3</a></li>
                            </ul>
                        </li>
                        <li class="dropdown1">
                            <a href="#">Mon compte</a>
                            <ul class="dropdown2">
                                <li><a href="#">Se connecter</a></li>
                                <li><a href="#">S'inscrire</a></li>
                            </ul>
                        </li>
                        <li class="dropdown1">
                            <a href="#">Qui sommes-nous ?</a>
                            <ul class="dropdown2">
                                <li><a href="#">Personnel</a></li>
                                <li><a href="{{ path('mp_clean_core_contact') }}">Nous contacter</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="caption">
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li><h1>HANDMADE BICYCLE</h1></li>
                        <li><h1>SPEED BICYCLE</h1></li>
                        <li><h1>MOUINTAIN BICYCLE</h1></li>
                    </ul>
                    <a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a>
                    <a href="#" class="callbacks_nav callbacks1_nav next">Next</a>

                    <ul class="callbacks_tabs callbacks1_tabs">
                        <li class="callbacks1_s1">1</li>
                        <li class="callbacks1_s2">2</li>
                        <li class="callbacks1_s3">3</li>
                    </ul>

                    <p>You <span>create</span> the <span>journey,</span> we supply the <span>parts</span></p>
                    <a class="morebtn" href="bicycles.html">SHOP BIKES</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}